@charset "utf-8";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


.flexslider { overflow:hidden; }
.slides > li { position:relative; }
.flex-control-nav { /* 블릿 */
    width: 100%;
    position: absolute;
    /* bottom: -40px; */
    bottom: 10px;
    text-align: center;
}

.flex-prev i, .flex-next i { color:#f6f6f6; }